extends layout

block content
	.row-fluid
		ul
			li
		ul
			li
		ul.thumbnails
			li.span4
				.thumbnail
					img(src="/images/express-logo.png")
			li.span4
				.thumbnail
					img(src="/images/jade-logo.png")
			li.span4
				.thumbnail
					img(src="/images/bootstrap.png")
