!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')

		link(href='/assets/css/bootstrap.css', rel='stylesheet')
		link(href='/assets/css/bootstrap-responsive.css', rel='stylesheet')
		link(href='/assets/css/docs.css', rel='stylesheet')
		link(href='/assets/js/google-code-prettify/prettify.css', rel='stylesheet')
		link(rel='shortcut icon', href='assets/ico/favicon.ico')
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
		link(rel='apple-touch-icon-precomposed', href='assets/ico/apple-touch-icon-57-precomposed.png')
	body(data-spy='scroll', data-target='.bs-docs-sidebar')

			
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					.nav-collapse.collapse
						ul.nav
							li
								a(href='/')
									|Home
							li
								-if(!session.user)
									a(href='/user/new/')
										|Register
						ul.nav.pull-right
							li.dropdown
								-if(session.user)
									a.dropdown-toggle(href='#', data-toggle='dropdown')
										| Hi #{session.user.email}
										b.caret
									ul.dropdown-menu
										li
											a(href='/blog/new/')
												| New blogpost
										li
											a(href='/user/logout')
												| Logout
								-else
									a.dropdown-toggle(href='#', data-toggle='dropdown')
										| Login
										b.caret
									.dropdown-menu
										form#form_login(action='/user/login/', style='margin: 0; padding: 3px 15px;', accept-charset='utf-8', method='post')
											fieldset.control-group
												label.control-label(for='form_email') Email address
												.controls
													.input-prepend(style='white-space: nowrap;')
														span.add-on
															i.icon-envelope
														input#form_email.span2(type='email', name='email', autocomplete='on')
											fieldset.control-group
												label.control-label(for='form_password') Password
												.controls
													.input-prepend(style='white-space: nowrap;')
														span.add-on
															i.icon-lock
														input#form_password.span2(type='password', name='password')
											label.checkbox
												input(type='checkbox', name='remember', value='true')
												| Remember me
											p.navbar-text
												button.btn.btn-primary(type='submit') Login
											input(type='hidden', name='_csrf', value='#{token}')

		
		header#overview.jumbotron.subhead
			.container
				h1 Express Blog
				p.lead Simple Blog developed with Express, Jade, Mongoose
		.container

					
			block content

					

		script(type='text/javascript', src='http://platform.twitter.com/widgets.js')
		script(src='/assets/js/jquery.js')
		script(src='/assets/js/google-code-prettify/prettify.js')
		script(src='/assets/js/bootstrap-transition.js')
		script(src='/assets/js/bootstrap-alert.js')
		script(src='/assets/js/bootstrap-modal.js')
		script(src='/assets/js/bootstrap-dropdown.js')
		script(src='/assets/js/bootstrap-scrollspy.js')
		script(src='/assets/js/bootstrap-tab.js')
		script(src='/assets/js/bootstrap-tooltip.js')
		script(src='/assets/js/bootstrap-popover.js')
		script(src='/assets/js/bootstrap-button.js')
		script(src='/assets/js/bootstrap-collapse.js')
		script(src='/assets/js/bootstrap-carousel.js')
		script(src='/assets/js/bootstrap-typeahead.js')
				script(src='/assets/js/bootstrap-affix.js')
				script(src='/assets/js/application.js')
